<!-- {{#each order as |orders|}} -->
  <ul>
    {{#each this}}
  <!-- <ul data-id="{{orders.id}}"> -->
    <li> Print: {{this.printName}}</li>
    <li> Quantity: {{this.printQuant}}</li>
    {{/each}}
  </ul>

<!-- {{/each}} -->
