<table class="history-handlebars">
  <thead>
    <tr>
      <th>Print</th>
      <th>Quantity</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {{#each orders as |order|}}
    <tr>
      <td>{{order.printName}}</td>
      <td>{{order.printQuant}}</td>
      <td>{{order.createdAt}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
