html,
body {
  background: #FFEFD1;
  color: #BFB39D;
  font-family: 'PT Serif', serif;
  font-size: 16px;
}

header {
  position: relative;
  height: 40vh;
  text-align: center;
  overflow: hidden;
}

header h1 {
  border-radius: 10px;
  color: #403C34;
  display: inline-block;
  font-size: 70px;
  margin-top: 10vh;
  opacity: .9;
  padding: 1rem;
  position: relative;
  z-index: 1;
}

h1 {
  font-size: 4rem;
}

.sign-in-area,
.sign-out-area {
  position: absolute;
  float: right;
  font-size: 14px;
  top: 25px;
  right: 0;
}

.sign-in-area {
  width: 210px;
}

.sign-out-area {
  width: 300px;
  text-align: right;
  padding-right: 10px;
}

.sign-out-area > fieldset {
  position: relative;
}

input {
  font-size: 16px;
}

.hidden {
  display: none;
}

.paintbrush,
.palette {
  position: absolute;
}

.paintbrush {
  height: 90%;
  left: 0;
}

.palette {
  height: 40vh;
  right: 0;
  transition: opacity .2s ease;
}

@media all and (max-width: 750px) {
  .palette {
    opacity: 0;
  }
}

.alreadyPurchased, .cartHas {
  text-align: center;
}

.store-display {
  background: #272B47;
  padding: 2rem 0;
  text-align: center;
}

.print-container {
  display: inline-block;
  margin: 2rem;
  width: 26vw;
}

.stripe-checkout {
  text-align: center;
}

.print-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  height: 26vw;
  margin-bottom: 1rem;
  border: 1rem solid #FFEFD1;
}

.print-image {
  max-height: 25vw;
  max-width: 25vw;
}

.create-print-message,
.create-print-failure {
  position: absolute;
  left: 50%;
  width: 100%;
  padding: .5rem 0;
}

.create-print-message p,
.create-print-failure p {
  position: relative;
  left: -50%;
  width: 100%;
}


form,
button {
  position: relative;
  z-index: 2;
}

input {
  outline: none;
  padding: .2rem 0;
  margin-right: .7rem;
}

button:focus {
  outline: 0;
}

p,
.total-cost-display,
.create-print-message,
.create-print-failure {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: .5rem;
}

.hideBeforeLogin {
  display: none;
}

.text-display {
  font-size: 1.5rem;
  color: #4c443a;
}

.cartHas-display,
.purchase-display, .purchaseConfirm {
  font-size: 1rem;
  color: #4c443a;
  padding: 6px 0;
}

.purchaseConfirm {
  padding-bottom: 12px;
}

button {
  background-color: #668578;
  color: white;
  -webkit-transition-duration: 0.4s;
  border: none;
  border-radius: 5px;
  transition-duration: 0.4s;
  padding: 10px 20px;
}

button:hover {
  background-color: #555;
}

button:focus {
  outline:0;
}

button[type=submit] {
  margin-top: 10px;
}
