div {
  background-color: teal;
}

.picOne {
  background: url(../images/0.png);
  background-color: white;
  font-size: 20px;
  height: 100px;
  width: 100px;
  background-size: contain;
	background-repeat: no-repeat;
	background-position: left;

}
